body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu a.active {
    color: red;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

.pagination {
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #4CAF50;
}

.success {
    color: green;
}

.error {
    color: red;
}

.submenu{
    display: flex;
    justify-content: space-around;
}

a.select {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}
